.term_categories .switch_field:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
    line-height: 0;
}
.term_categories .aside_section {
    width: 70%;

    margin:0 0 20px 0;
    position: relative;
    box-shadow: 0px 4px 150px rgba(0, 0, 0, 6%);
    /* -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc; */
    background-color: #fff;
}
.term_categories .pagination {
    width: auto;
    margin: 10px auto 40px;
    display: table;
}
.term_categories .pagination i {
    position: relative;
    top: 2px;
}

.term_categories .top_bar {
    background-color: #fff;
    /* box-shadow: 0 0 6px #ccc; */
    box-shadow: 0px 4px 150px rgba(0, 0, 0, 9%);
    padding: 15px 20px 20px;
    margin-bottom: 25px;
    position: relative;
}
.term_categories > .top_bar > header {
    position: relative;
    height: 45px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
}
.term_categories > .top_bar > header h1 {
    font-size: 20px;
    line-height: 25px;
}
.term_categories > .top_bar > header h1 span {
    color: #6666ff;
}
.term_categories > .top_bar > header > span {
    border: 1px solid #f0f0f0;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    color: #333;
    padding: 0 15px;
    border-radius: 10px;
    box-shadow: 0px 10px 150px rgba(0, 0, 0, 100%);
    line-height: 30px;
    background-color: #f7f7f7;
}
.term_categories > .top_bar form {
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #dddd;
    border-radius: 10px;
    overflow: hidden;
}
.term_categories > .top_bar form input {
    position: relative;
    width: 100%;
    height: 40px;
    border: 0;
    padding: 0 18px 0 50px;
    font-size: 14px;
    line-height: 40px;
}
.term_categories > .top_bar form button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    font-size: 22px;
    color: #878787;
    line-height: 45px;
    text-align: right;
}
.term_categories > .top_bar .select_ddl {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #dddd;
    position: relative;
}
.term_categories > .top_bar .select_ddl select {
    width: 100%;
    padding: 0 15px 0 0;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    border: 0;
}

.term_categories .switch_field {
    width: 100%;
    overflow: hidden;
    border: 1px solid #dddd;
    border-radius: 10px;
}
.term_categories .switch_field input {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;

}
.term_categories .switch_field label {
    background-color: #fff;
    float: right;
    color: #333;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 10px;
    text-align: center;
    text-shadow: none;
    transition: all 0.1s ease-in-out 0s;
    margin-bottom: 0;
    width: 33.33%;
    height: 38px;
    line-height: 30px;
}
.term_categories .switch_field label:hover {
    cursor: pointer;
}
.term_categories .switch_field input:checked + label {
    border-radius: 10px;
    background-color: #6666ff;
    color: #fff;
}
.term_categories .aside_section header h3 {
    font-size: 16px;
    line-height: 22px;
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
}
.term_categories .filter_by_price header h3 {
    margin-bottom: 30px;
}
.term_categories .filter_by_price .price_range {
    padding: 0 35px 15px;
}
.term_categories .filter_by_price .max_price {
    width: auto;
    display: inline-table;
    float: left;
    font-size: 12px;
    line-height: 25px;
    position: relative;
    left: -15px;
    padding-top: 10px;
}
.term_categories .filter_by_price .min_price {
    width: auto;
    display: inline-table;
    float: right;
    font-size: 12px;
    line-height: 25px;
    position: relative;
    right: -15px;
    padding-top: 10px;
}
.term_categories .filter_by_category ul {
    padding: 0 5px 10px;
}
.term_categories .filter_by_category ul li {
    padding: 5px 15px;
    font-size: 14px;
    line-height: 20px;
}
.term_categories .filter_by_category ul li input {
    position: relative;
    top: 3px;
    margin-left: 3px;
}
.terms_items{
    
    width: 112%;
    margin-right: -11%;
}
.page_item{
    float:right;
    width: 50%;
    margin: 0;
}
@media screen and (max-width: 480px) {

    .landing_layer header h1 {
        font-size: 21px;
    }
    .landing_layer header {
        padding-bottom: 30px;
    }
    .term_categories > .top_bar > header > span {
        display: none;
    }
}