@font-face {
    font-family: irr;
    src: url("../../Assets/obj/font/IRANSANS\(FANUM\).TTF");
  }
  @font-face {
    font-family: irb;
    src: url("../../Assets/obj/font/IRANSANS(FANUM).TTF");
  }
