@font-face {
    font-family: irr;
    src: url("../../Assets/obj/font/IRANSANS\(FANUM\).TTF");
  }
  @font-face {
    font-family: irb;
    src: url("../../Assets/obj/font/IRANSANS(FANUM).TTF");
  }

.wrapped {
    display :flex;
    align-items: center;
    flex-direction: column;
    /* width: 350px; */
    height: 130px;
    text-align: center;
    box-shadow: 0px 4px 150px 0px rgba(0, 0, 0, 0.06);
    background-color: white;
    border-radius: 10px;
    font-family: irr;
    user-select: none;
    margin-bottom: 25px;
}

.about{
    margin:0 auto;
	font-size:18px;
	font-family:irr;
	color: #2E3136;
	text-align:center;
	font-weight:bold;
	margin-top:20px;
}

.details {
    margin-top:10px;
    display: flex;
    flex-direction: row;
    width:83%;
    cursor: pointer;
}

.name {
    color:#2E3136;
	font-size:18px;
	text-indent:13px;
    margin-top:20px;
}

.prof{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.angle {
    width: 9%;
    margin-right:80px;
}